<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>SSDD Portfolio :: Shock!Team</title>
    <link rel="icon" type="image/svg+xml" href="/img/urku-ico.svg">
    <link rel="stylesheet" href="/css/aurora-pack.min.css">
    <link rel="stylesheet" href="/css/aurora-theme-base.min.css">
    <link rel="stylesheet" href="/css/urku.css">
  </head>
  <body class="top-fixed">